.left{
  float:left;
  margin-left: 20px;
}
.right{
  float:right;
  margin-right: 30px;
}
.trBackground{
  background: #E3F4FF;
  width: 133px;
}
.trBackground2{
  width: 200px;
}
.table{
  border: 1px solid #B8CCE2;
}
.scoller{
  overflow:scroll;
  overflow-x:hidden
}
